@tailwind base;
@tailwind components;
@tailwind utilities;


.prose table {
  width: 100%;
  border-collapse: collapse;
}

.prose th,
.prose td {
  border: 1px solid #ddd;
  padding: 8px;
}

.prose th {
  background-color: #f4f4f4;
}


.hide-scrollbar {
  overflow: hidden; /* Hide scrollbar */
}

.scrollable {
  overflow: auto; /* Allow scrolling */
}

/* This hides the scrollbar but still allows the div to be scrollable */
.scrollable.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar for webkit browsers */
}

.scrollable.hide-scrollbar {
  -ms-overflow-style: none;  /* Hides scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hides scrollbar for Firefox */
}